<launch>
  <rosparam param="/use_sim_time">true</rosparam>

  <node name="esvio_image_representation_left" pkg="esvio_image_representation" type="esvio_image_representation" output="screen">
    <!-- launch-prefix="xterm -e gdb args" -->
    <remap from="events" to="/davis/left/events" />
    <remap from="imu" to="/davis/left/imu" />
    <remap from="image" to="/davis/left/image_raw" />
    <remap from="camera_info" to="/davis/left/camera_info" />
    <remap from="image_representation" to="image_representation_left" />

    <rosparam command="load" file="$(find esvio_image_representation)/cfg/esvio_image_representation_l.yaml" />
  </node>

  <node name="esvio_image_representation_right" pkg="esvio_image_representation" type="esvio_image_representation" output="screen">
    <!-- < launch-prefix="xterm -e gdb args" /> -->
    <remap from="events" to="/davis/right/events" />
    <remap from="imu" to="/davis/right/imu" />
    <remap from="image" to="/davis/right/image_raw" />
    <remap from="camera_info" to="/davis/right/camera_info" />
    <remap from="image_representation" to="image_representation_right" />

    <rosparam command="load" file="$(find esvio_image_representation)/cfg/esvio_image_representation_r.yaml" />
  </node>

  <!-- <node name="esvio_image_representation_right" pkg="esvio_image_representation" type="esvio_image_representation" output="screen" > 
    <remap from="events" to="/davis/left/events" />
    <remap from="imu" to="/davis/left/imu" />
    <remap from="image" to="/davis/left/image_raw" />
    <remap from="camera_info" to="/davis/left/camera_info" />
    <remap from="image_representation" to="image_representation_right" />

    <rosparam command="load" file="$(find esvio_image_representation)/cfg/esvio_image_representation_r.yaml" />
  </node> -->

  <node name="global_timer" pkg="rostopic" type="rostopic" args="pub -s -r 5 /sync std_msgs/Time 'now' ">
    <rosparam param="/use_sim_time">true</rosparam>
  </node>

  <!-- 	<node name="sync" pkg="topic_tools" type="transform" args="/davis/left/image_raw /sync std_msgs/Time 'm.header.stamp'" /> -->
  <!--  <node name="test_imu" pkg="topic_tools" type="transform" args="/davis/left/imu /test_imu std_msgs/Time 'm.header.stamp'" /> -->

  <!-- rqt_gui -->
  <node pkg="rqt_gui" type="rqt_gui" name="rqt_gui" args="--perspective-file $(find esvio_image_representation)/esvio_image_representation.perspective" />

  <!-- <node pkg="rosbag" type="play" name="play" output="screen"
          args="~/Downloads/indoor_flying1_data.bag ">
        </node> -->
  <!-- <node pkg="rosbag" type="play" name="play" output="screen"
          args="~/FUN/imu_lidar/lidar_imu/data/zurich_city_04/zurich_city_04_d_imu.bag -r 0.5 -q  clock">
        </node> -->

</launch>